<!DOCTYPE html>
<html lang="en">
  <%-include('../includes/head.ejs') %>
  <body>
    <%-include('../includes/navbar.ejs') %>
    <h1 class="text-danger">product page</h1>
    <div class="container-fluid">
      <div class="card">
        <div class="card-header"><%=product.name%></div>

        <div class="card-body">
          <img src="/<%=product.productImg%>" alt="..." class="card-img" />
          <p><%= product.description%></p>
          <a href="/product/edit/<%=product._id%>" class="btn btn-secondary"
            >edit product</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
